<ul id="site-nav--list" class="site-nav--list">
    <li class="site-nav--item"><a href="/" class="site-nav--link {{#if home}}active{{/if}}">home</a></li>
   {{!--  <li class="site-nav--item"><a href="/story" class="site-nav--link {{#if story}}active{{/if}}">story</a></li> --}}
    <li class="site-nav--item"><a href="/work" class="site-nav--link {{#if work}}active{{/if}}">work</a></li>
    {{!-- <li class="site-nav--item"><a href="#" class="site-nav--link">Lab</a></li> --}}
    <li class="site-nav--item"><a href="/contact" class="site-nav--link {{#if contact}}active{{/if}}">contact</a></li>
</ul>