<div role="complementary" class="site-footer--about"> 
    <div class="layout--container layout--arrow{{#if home}}-home{{/if}}">
        <section class="site-footer--bio">
            <img class="site-footer--bio-img" src="/images/footer-mug-shot.jpg" alt="Picture of Terri Regan"/>
            <h1 class="site-footer--bio-header">About me</h1>
            <p>I'm Theresa, but folks call me Terri. I'm a Washington D.C based frontend developer and designer who loves building great experiences. I like to live in the space where design &amp; code intersect. Here you'll find some of my recent projects and a few personal works. <a class="site-footer--bio-link" href="/work" title="View work">Have a look around</a>.</p>
        </section><!-- /section -->
        <hr>
        <aside class="site-footer--social">
          <ul class="site-footer--social-list">
             <li class="site-footer--social-item"><a href="https://www.linkedin.com/in/terriregan" title="Profile on linkedin"><span class="fa fa-linkedin"></span></a></li>
             <li class="site-footer--social-item"><a href="https://github.com/terriregan" title="Code on Gitub"><span class="fa fa-github"></span></a></li>
          </ul> 
        </aside><!-- /aside -->
    </div>
</div><!-- /layout -->

<div class="site-footer--copyright"> 
    <div class="layout--container">
        <nav>
          <ul class="site-footer--nav"> <!-- use nav tag? -->
              <li><a href="/" class="{{#if home}}active{{/if}}">Home</a></li>
               <!--<li><a href="/story" class="{{#if story}}active{{/if}}">Story</a></li>-->
              <li><a href="/work" class="{{#if work}}active{{/if}}">Work</a></li>
              <!--<li><a href="#">Lab</a></li>-->
              <li><a href="/contact" class="{{#if contact}}active{{/if}}">Contact</a></li>
          </ul>
        </nav>
        <p>&copy; 2014 Terri Regan</p>
   </div>
</div><!-- /layout -->

   
