{{!< default}}

<div class="site-page">
	<section>
		<div class="layout--container">
			<h1 class="site-page--header">oops...</h1>
			<div class="site-page--error">It appears an error occurred.  Please use the navigation or <a href="/">go home</a>.
		</div>
	</section><!-- /section -->
	
</div>