// COLORS
$white: #fffffe;

$gray-lightest: #eeeeee;
$gray-lighter: #cccccc;
$gray-light: #bbbbbb;
$gray-mid: #999999;
$gray-dark: #666666;				// body text

$blue-lightest: #ecf0f1;  
$blue-lighter: #84b2d3;
$blue-light: #5E84AA;
$blue-mid: #3d566e;
$blue-dark: #34495e;
$blue-darker: #263542;
$blue-darkest: #10161c;

$accent-red: #D4635B;				// links 
$accent-green: #4fba6f;
$accent-green-muted: #82A28B; 		
$logo-green: #59B272;				