// loader 
@-webkit-keyframes loadera {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, 1);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@-moz-keyframes loadera {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, 1);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@-o-keyframes loadera {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, 1);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@keyframes loadera {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, 1);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}

@-webkit-keyframes laoderb {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, 1);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@-moz-keyframes laoderb {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, 1);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@-o-keyframes laoderb {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, 1);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@keyframes laoderb {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, 1);}
  75%{background-color: rgba(233, 90, 70, .2);}
  100%{background-color: rgba(233, 90, 70, .2);}
}

@-webkit-keyframes loaderc {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, 1);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@-moz-keyframes loaderc {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, 1);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@-o-keyframes loaderc {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, 1);}
  100%{background-color: rgba(233, 90, 70, .2);}
}
@keyframes loaderc {
  0%{background-color: rgba(233, 90, 70, .2);}
  25%{background-color: rgba(233, 90, 70, .2);}
  50%{background-color: rgba(233, 90, 70, .2);}
  75%{background-color: rgba(233, 90, 70, 1);}
  100%{background-color: rgba(233, 90, 70, .2);}
}