// GENERAL VARIABLES
$hi-res: "@media (-webkit-min-device-pixel-ratio: 1.5, only screen) and (-o-min-device-pixel-ratio: 3/2, only screen) and (min-device-pixel-ratio: 1.5)";

// layout variables
$bp-siteMaxWidth: 65em;  // 1040px
$bp-layout-medium: 55em; // 880px
$bp-layout-small: 38em;  // 608px  
// 35em or 560px
// 25em or 400px
// baby, mama, papa